<configuration>
	<connectionStrings>
		<add name="MyDatabaseLibrary"
             connectionString="Server=tcp:pd-rmsgr01-server.database.windows.net,1433;Initial Catalog=mylitLibra;Persist Security Info=False;User ID=admiMYLIT;Password=Guepard0;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
